.CompanyCard h6 {
    margin-left: 5px;
    margin-bottom: -3px;
}

.CompanyCard {
    border: 3px solid black;
    margin: 15px;
    padding: 3px;
    position: relative;
}

.CompanyCard img {
    max-width: 80px;
    position: absolute;
    right: 15px;
    top: 5px;

}

h4 {
    position: relative;
    font-size: large;
    margin: 10px;
  }
h4:after {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: goldenrod;
    height: 1px;
  }
h4:hover:after {
    width: 50%;
  }

h4,
h4:after,
h4:before {
    transition: all .5s;
  }
h4:hover {
    color: black;
  }